@model List<Pelicula>

<h1>Buscador Peliculas</h1>

<p>
    <a asp-controller="Peliculas"
       asp-action="Index">Volver a Index</a>
</p>

<form method="post">
    <label>Introduzca nombre de actor</label>
    <input type="text" name="actor" class="form-control"/>
    <button class="btn btn-info">Buscar películas</button>
</form>

<table class="table table-bordered table-warning">
    <thead>
        <tr>
            <th>Título</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (Pelicula peli in Model)
            {
                <tr>
                    <td>@peli.Titulo</td>
                    <td>
                        <img src="~/images/@peli.Foto"
                             style="width:70px; height: 80px" />
                    </td>
                    <td>
                        <a asp-controller="Peliculas"
                           asp-action="Details"
                           asp-route-id="@peli.IdPelicula"
                           class="btn btn-success">Details</a>
                        <a asp-controller="Peliculas"
                           asp-action="Edit"
                           asp-route-id="@peli.IdPelicula"
                           class="btn btn-info">Edit</a>
                        <a asp-controller="Peliculas"
                           asp-action="Delete"
                           asp-route-id="@peli.IdPelicula"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>